<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8">
<!--    th:href="@{/css/login.css} -->
    <link rel="stylesheet" type="text/css" href="css/login.css"  />
    <title>login</title>
  </head>
  <body>

    <div class="container" onclick="onclick">
      <div class="top"></div>
      <div class="bottom"></div>
      <div class="center">
        <h2>ADMIN PAGE</h2>
        <!-- invalid id/pw 메세지 -->
        <!-- logout 성공 시 리다이렉트 && 메세지 -->
        <form  action="/login" method="POST">
          <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
          <input type="text" name="username" placeholder="admin" />
          <input type="password" name="password" placeholder="password" />
          <button type="submit" id="btn_login">login</button>
        </form>
    <div th:if="${session['SPRING_SECURITY_LAST_EXCEPTION']} != null">
      <span th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"></span>
      </div>
    </div>
    </div>
  </body>
</html>