
.hero__mypage {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px 0;
  margin-left:50px;
  font-size:35px;
}


.hero__mypage a{
  color:#252525;
}

.hero__mypage__2 p{
  position:absolute;
  font-size:10px;
  margin-top:-10px;
  color:#1c1c1c;
}

.hero__mypage__2{
  display:inline-block;
  margin-left:25px;
}


.hero__mypage__2 span{
  position: absolute;
  top: -5px;
  right: -5px;
  width: 20px;
  height: 20px;
  font-size: 20px;
  background: red;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.hero__mypage__1 p{
  position:absolute;
  font-size:10px;
  margin-top:-10px;
  color:#1c1c1c;
  margin-left:-12px;
}

.hero__mypage__1{
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

.hero__mypage__2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  color: #333333;
  background: #dddddd;
  border: none;
  outline: none;
  border-radius: 50%;
}

.hero__mypage__2:hover {
  cursor: pointer;
}

.hero__mypage__2:active {
  background: #cccccc;
}
